@page
@model Hotel.Pages.AddRoomTypeModel
@{
    ViewData["Title"] = "Add Admin";
}

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />

<div class="text-left">
    <br />
    <h1 class="text-lg-center fs-5">Add RoomType</h1>
    <form method="post">
        <label class="form-label " for="ID">Category Name:</label>
        <input class="form-control mb-2" type="text" asp-for="@Model.CategoryName">


        <label class="form-label mt-1" for="name,">Price:</label>
        <input class="form-control mb-2" type="number" asp-for="@Model.Price">

        <label class="form-label mt-1" for="name,">Description:</label>
        <input class="form-control mb-2" type="text" asp-for="@Model.Description">
        
        <label class="form-label mt-1" for="name,">bed:</label>
        <input class="form-control mb-2" type="number" asp-for="@Model.bed">


        <label class="form-label mt-1" for="name,">bath:</label>
        <input class="form-control mb-2" type="number" asp-for="@Model.bath">


        <label class="form-label mt-1" for="name,">photo Name:</label>
        <input class="form-control mb-2" type="text" asp-for="@Model.photo">

        <button asp-page-handler="submit" class="btn btn-success mt-2">Add</button>
        <button asp-page-handler="cancel" class="btn btn-outline-secondary mt-2">Cancel</button>
    </form>

</div>

