@page
@model Hotel.Pages.loginHEModel
@{
    ViewData["Title"] = "Login";
}
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login and Sign Up</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>


    .locontainer {
        max-width: 400px;
        margin-top: 50px;
    }
</style>
<div class="locontainer">
    @if (!string.IsNullOrEmpty(Model.UserError))
    {
        <div class="alert alert-danger" role="alert">
            @Model.UserError
        </div>
    }
    <!-- Login Form -->
    <hr>
    <form id="loginForm" method="post">
        <h2 class="text-center mb-4">Login Employee</h2>
        <label class="form-label mt-1" for="Usrename">Login As:</label>
        <select asp-for="@Model.Select" class="form-select text-black bg-transparent" id="RoomN" aria-label="Login As">
            <option class="text-black" selected disabled>Select your Choice</option>
            <option class="text-black" value="Admin">Admin</option>
            <option class="text-black" value="Manager">Manager</option>
            <option class="text-black" value="Staff">Staff</option>

            
        </select>
        <div class="form-group">
            <label class="form-label mt-1" for="Usrename">Username:</label>
            <input class="form-control mb-2" type="text" asp-for="@Model.Username">
            <span asp-validation-for="@Model.Username" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label class="form-label mt-1" for="password,">password:</label>
            <input class="form-control mb-2" type="password" asp-for="@Model.Password">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>

        </div>
        <button asp-page-handler="submit" class="btn btn-success mt-2">Login</button>

    </form>
    <hr />
    @* <form id="loginForm">
    <h2 class="text-center mb-4">Login</h2>
    <div class="form-group">
    <label for="loginEmail">Email address</label>
    <input type="email" class="form-control" id="loginEmail" placeholder="Enter email" required>
    </div>
    <div class="form-group">
    <label for="loginPassword">Password</label>
    <input type="password" class="form-control" id="loginPassword" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-success btn-block" href="Index">Login</button>
    </form> *@
    

</div>



